body {
    background-color: white;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

span {
    text-decoration: underline;
}

h1 {
    font-size: 562.5%;
    color: #66BFBF;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
}

h2 {
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

.profile {
    width: 50%;
    line-height: 2;
    margin: 50px auto 50px auto;
}

.top-container {
    padding-top: 150px;
    background-color: #e4f9f5;
    z-index: -1;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 100px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
}

.middle-container {
    padding-top: 25px;
}

.profile-photo {
    height: 250px;
    width: 250px;
}

.skills {
    margin: 50px 0 50px 0;
}

.skill-row {
    width: 50%;
    margin: 50px auto 50px auto;
    text-align: left;
    line-height: 2;
}

.web-image {
    height: 150px;
    width: 25%;
    float: left;
    margin-right: 30px;
}

.trading-image {
    height: 150px;
    width: 25%;
    float: right;
    margin-left: 30px;
}

hr {
    border-color: grey;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 5%;
}

.contact-me {
    width: 40%;
    line-height: 1.6;
    padding-bottom: 20px;
    margin: 50px auto 50px auto;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}

.bottom-container {
    background-color: #62d1d1;
    margin-bottom: 0;
    padding: 40px 0 20px;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: white;
}

.copyright {
    color: white;
    font-size: .75rem;
}

.footer-link {
    color: #11999E;
    line-height: 3;
}















.main {
    /* background-color: grey; */
    width: 600px;
    height: 600px;

}

.red {
    background-color: red;
    width: 200px;
    height: 200px;
    position: relative;
    top: 100px;
    left: 50px;
    z-index: 2;

}

.blue {
    background-color: blue;
    width: 200px;
    height: 200px;
    position: relative;
    top: 50px;
    left: 100px;
    z-index: 3;

}

.yellow {
    background-color: yellow;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 200px;
    top: 100px;
    z-index: 0;

}